<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- layout文件路径-->
<head th:replace="layout/common :: head"></head>s
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col" th:replace="layout/common :: left"></div>
            <div class="top_nav" th:replace="layout/common :: top"></div>
            <div class="right_col" role="main" style="background: white;">
                <div class="row">
                    <div class="col-md-12"><h3>轮播列表</h3></div>
                </div>
                <div class="col-sm-12 search-collapse">
                    <form id="user-form">
                        <div class="select-list">
                            <ul>
                                <li class="select-time">
                                    <label>轮播版位： </label>
                                    <select class="form-control" name="code">
                                        <option value="">----请选择轮播版位----</option>
                                        <option  th:each="list:${advSpace}" th:value="${list.code}" th:text="${list.name }"></option>
                                    </select>

                                </li>
                                <li class="select-time">
                                    <label>创建时间： </label>
                                    <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                                    <span>-</span>
                                    <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                                </li>
                                <li>
                                    <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
                <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
                    <a class="btn btn-success" onclick="$.operate.add()">
                        <i class="fa fa-plus"></i> 新增
                    </a>

                </div>
                <div class="col-12 select-table table-striped">
                    <table id="bootstrap-table" data-mobile-responsive="true"></table>
                </div>

            </div>
        </div>
    </div>
    <footer th:replace="layout/common :: src"></footer>
<script type="text/javascript">
    $(function() {
       // $('body').layout({ west__size: 185 });
        queryInfoList();
    });

    function queryInfoList() {
        var options = {
            url: "/web/bannerList",
            createUrl: "/web/addInformation",
            detailUrl: "/web/detailInformation/{id}",
            updateUrl: "/web/editInformation/{id}",
           // sortName: "createTime",
            //sortOrder: "desc",
            modalName: "轮播",
            search: false,
            showExport: false,
            columns: [
              /*  {
                checkbox: false
            },*/
                {
                    field: 'name',
                    title: '名称'
                },
                {
                    field: 'apaceName',
                    title: '版位'
                },
                {
                    field: 'type',
                    title: '类型',
                    sortable: true
                },
                {
                    field: 'enables',
                    title: '是否启用',
                    sortable: true
                },
                {
                    field: 'createTime',
                    title: '发布时间',
                    formatter: function(value) {
                        var value = new Date(value);
                        var currtime = value.Format("yyyy-MM-dd");
                        return currtime;
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: operatorFormat
                }
            ]
        };
        $.table.init(options);
    }

    function operatorFormat(value, row, index) {
        var operatorStr = '<input type="button" class="btn btn-xs btn-primary" onclick="$.operate.detail(\'' + row.advid + '\')"  value="查看"/>';
          operatorStr += '<input type="button" class="btn btn-xs btn-warning" onclick="$.operate.edit(\'' + row.advid + '\')"  value="编辑"/>';
        if(row.enables =='已启用'){
            operatorStr += '<input type="button" class="btn btn-xs btn-danger" onclick="changeStatus(\'' + row.advid + '\')"  value="禁用"/>';
        }else{
            operatorStr += '<input type="button" class="btn btn-xs btn-dark" onclick="changeStatus(\'' + row.advid + '\')"  value="启用"/>';
        }
          return operatorStr;
    }
function changeStatus(contId) {
    alert(contId);

}
    /*function resetPwd(userId) {
        var url = prefix + '/resetPwd/' + userId;
        $.modal.open("重置密码", url, '800', '300');
    }*/


</script>
</body>
</html>
