<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.space.mybatis.dao.Cms2ChannelMapper" >
  <resultMap id="BaseResultMap" type="com.space.mybatis.model.Cms2Channel" >
    <result column="ID" property="id" jdbcType="BIGINT" />
    <result column="MODEL_ID" property="modelId" jdbcType="BIGINT" />
    <result column="SITE_ID" property="siteId" jdbcType="BIGINT" />
    <result column="IS_PARENT" property="isParent" jdbcType="BIGINT" />
    <result column="PARENT_ID" property="parentId" jdbcType="BIGINT" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="LFT" property="lft" jdbcType="BIGINT" />
    <result column="RGT" property="rgt" jdbcType="BIGINT" />
    <result column="PRIORITY" property="priority" jdbcType="VARCHAR" />
    <result column="IS_DISPLAY" property="isDisplay" jdbcType="BIGINT" />
    <result column="STATUS" property="status" jdbcType="BIGINT" />
    <result column="COPY_MAIN" property="copyMain" jdbcType="BIGINT" />
    <result column="COPY_COPY" property="copyCopy" jdbcType="BIGINT" />
    <result column="GMT_CREATE" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="GMT_MODIFY" property="gmtModify" jdbcType="TIMESTAMP" />
    <result column="TREE_SORT" property="treeSort" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.space.mybatis.model.Cms2Channel" extends="BaseResultMap" >
    <result column="CHANNEL_NAME" property="channelName" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, MODEL_ID, SITE_ID, IS_PARENT, PARENT_ID, CODE, LFT, RGT, PRIORITY, IS_DISPLAY, 
    STATUS, COPY_MAIN, COPY_COPY, GMT_CREATE, GMT_MODIFY, TREE_SORT
  </sql>
  <sql id="Blob_Column_List" >
    CHANNEL_NAME
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.space.mybatis.model.Cms2ChannelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cms2_channel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.space.mybatis.model.Cms2ChannelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cms2_channel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.space.mybatis.model.Cms2ChannelExample" >
    delete from cms2_channel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.space.mybatis.model.Cms2Channel" >
    insert into cms2_channel (ID, MODEL_ID, SITE_ID, 
      IS_PARENT, PARENT_ID, CODE, 
      LFT, RGT, PRIORITY, IS_DISPLAY, 
      STATUS, COPY_MAIN, COPY_COPY, 
      GMT_CREATE, GMT_MODIFY, TREE_SORT, 
      CHANNEL_NAME)
    values (#{id,jdbcType=BIGINT}, #{modelId,jdbcType=BIGINT}, #{siteId,jdbcType=BIGINT}, 
      #{isParent,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, 
      #{lft,jdbcType=BIGINT}, #{rgt,jdbcType=BIGINT}, #{priority,jdbcType=VARCHAR}, #{isDisplay,jdbcType=BIGINT}, 
      #{status,jdbcType=BIGINT}, #{copyMain,jdbcType=BIGINT}, #{copyCopy,jdbcType=BIGINT}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, #{treeSort,jdbcType=VARCHAR}, 
      #{channelName,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.space.mybatis.model.Cms2Channel" >
    insert into cms2_channel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="modelId != null" >
        MODEL_ID,
      </if>
      <if test="siteId != null" >
        SITE_ID,
      </if>
      <if test="isParent != null" >
        IS_PARENT,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="lft != null" >
        LFT,
      </if>
      <if test="rgt != null" >
        RGT,
      </if>
      <if test="priority != null" >
        PRIORITY,
      </if>
      <if test="isDisplay != null" >
        IS_DISPLAY,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="copyMain != null" >
        COPY_MAIN,
      </if>
      <if test="copyCopy != null" >
        COPY_COPY,
      </if>
      <if test="gmtCreate != null" >
        GMT_CREATE,
      </if>
      <if test="gmtModify != null" >
        GMT_MODIFY,
      </if>
      <if test="treeSort != null" >
        TREE_SORT,
      </if>
      <if test="channelName != null" >
        CHANNEL_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="modelId != null" >
        #{modelId,jdbcType=BIGINT},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=BIGINT},
      </if>
      <if test="isParent != null" >
        #{isParent,jdbcType=BIGINT},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="lft != null" >
        #{lft,jdbcType=BIGINT},
      </if>
      <if test="rgt != null" >
        #{rgt,jdbcType=BIGINT},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=VARCHAR},
      </if>
      <if test="isDisplay != null" >
        #{isDisplay,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIGINT},
      </if>
      <if test="copyMain != null" >
        #{copyMain,jdbcType=BIGINT},
      </if>
      <if test="copyCopy != null" >
        #{copyCopy,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="treeSort != null" >
        #{treeSort,jdbcType=VARCHAR},
      </if>
      <if test="channelName != null" >
        #{channelName,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.space.mybatis.model.Cms2ChannelExample" resultType="java.lang.Integer" >
    select count(*) from cms2_channel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cms2_channel
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.modelId != null" >
        MODEL_ID = #{record.modelId,jdbcType=BIGINT},
      </if>
      <if test="record.siteId != null" >
        SITE_ID = #{record.siteId,jdbcType=BIGINT},
      </if>
      <if test="record.isParent != null" >
        IS_PARENT = #{record.isParent,jdbcType=BIGINT},
      </if>
      <if test="record.parentId != null" >
        PARENT_ID = #{record.parentId,jdbcType=BIGINT},
      </if>
      <if test="record.code != null" >
        CODE = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.lft != null" >
        LFT = #{record.lft,jdbcType=BIGINT},
      </if>
      <if test="record.rgt != null" >
        RGT = #{record.rgt,jdbcType=BIGINT},
      </if>
      <if test="record.priority != null" >
        PRIORITY = #{record.priority,jdbcType=VARCHAR},
      </if>
      <if test="record.isDisplay != null" >
        IS_DISPLAY = #{record.isDisplay,jdbcType=BIGINT},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=BIGINT},
      </if>
      <if test="record.copyMain != null" >
        COPY_MAIN = #{record.copyMain,jdbcType=BIGINT},
      </if>
      <if test="record.copyCopy != null" >
        COPY_COPY = #{record.copyCopy,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null" >
        GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModify != null" >
        GMT_MODIFY = #{record.gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="record.treeSort != null" >
        TREE_SORT = #{record.treeSort,jdbcType=VARCHAR},
      </if>
      <if test="record.channelName != null" >
        CHANNEL_NAME = #{record.channelName,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update cms2_channel
    set ID = #{record.id,jdbcType=BIGINT},
      MODEL_ID = #{record.modelId,jdbcType=BIGINT},
      SITE_ID = #{record.siteId,jdbcType=BIGINT},
      IS_PARENT = #{record.isParent,jdbcType=BIGINT},
      PARENT_ID = #{record.parentId,jdbcType=BIGINT},
      CODE = #{record.code,jdbcType=VARCHAR},
      LFT = #{record.lft,jdbcType=BIGINT},
      RGT = #{record.rgt,jdbcType=BIGINT},
      PRIORITY = #{record.priority,jdbcType=VARCHAR},
      IS_DISPLAY = #{record.isDisplay,jdbcType=BIGINT},
      STATUS = #{record.status,jdbcType=BIGINT},
      COPY_MAIN = #{record.copyMain,jdbcType=BIGINT},
      COPY_COPY = #{record.copyCopy,jdbcType=BIGINT},
      GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      GMT_MODIFY = #{record.gmtModify,jdbcType=TIMESTAMP},
      TREE_SORT = #{record.treeSort,jdbcType=VARCHAR},
      CHANNEL_NAME = #{record.channelName,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cms2_channel
    set ID = #{record.id,jdbcType=BIGINT},
      MODEL_ID = #{record.modelId,jdbcType=BIGINT},
      SITE_ID = #{record.siteId,jdbcType=BIGINT},
      IS_PARENT = #{record.isParent,jdbcType=BIGINT},
      PARENT_ID = #{record.parentId,jdbcType=BIGINT},
      CODE = #{record.code,jdbcType=VARCHAR},
      LFT = #{record.lft,jdbcType=BIGINT},
      RGT = #{record.rgt,jdbcType=BIGINT},
      PRIORITY = #{record.priority,jdbcType=VARCHAR},
      IS_DISPLAY = #{record.isDisplay,jdbcType=BIGINT},
      STATUS = #{record.status,jdbcType=BIGINT},
      COPY_MAIN = #{record.copyMain,jdbcType=BIGINT},
      COPY_COPY = #{record.copyCopy,jdbcType=BIGINT},
      GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      GMT_MODIFY = #{record.gmtModify,jdbcType=TIMESTAMP},
      TREE_SORT = #{record.treeSort,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>