<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.space.mybatis.dao.Cms2AdvAppMapper">
  <resultMap id="BaseResultMap" type="com.space.mybatis.model.Cms2AdvApp">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="keyclum" jdbcType="VARCHAR" property="keyclum" />
    <result column="picurl" jdbcType="VARCHAR" property="picurl" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="extra1" jdbcType="VARCHAR" property="extra1" />
    <result column="extra2" jdbcType="VARCHAR" property="extra2" />
    <result column="extra3" jdbcType="VARCHAR" property="extra3" />
  </resultMap>

  <sql id="Base_Column_List">
    id, sort, keyclum, picurl, link, type, name, status, extra1, extra2, extra3
  </sql>
  <select id="selectByExample" parameterType="com.space.common.dto.star.Cms2AdvAppForm" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cms2_adv_app
    where 1=1
    <if test="name != null  and name != '' " >
      and  name like concat('%', #{name}, '%')
    </if>
    <if test="type != null  and type != '' " >
      and  type = #{type}
    </if>
    ORDER BY sort ASC
  </select>

  <insert id="saveChanlePic" parameterType="com.space.common.dto.star.Cms2AdvAppForm"  useGeneratedKeys="true" keyProperty="id">
    insert into cms2_adv_app
    <trim prefix="(" suffix=")" suffixOverrides="," >
    <!--  <if test="id != null" >
        ID,
      </if>-->
      <if test="sort != null" >
        sort,
      </if>
      <if test="keyclum != null" >
        keyclum,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="picurl != null" >
        picurl,
      </if>
      <if test="link != null" >
        link,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="extra1 != null" >
        extra1,
      </if>
      <if test="extra2 != null" >
        extra2,
      </if>
      <if test="extra3 != null" >
        extra3,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
     <!-- <if test="id != null" >
        #{id},
      </if>-->
      <if test="sort != null" >
        #{sort},
      </if>
      <if test="keyclum != null" >
        #{keyclum},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="picurl != null" >
        #{picurl},
      </if>
      <if test="link != null" >
        #{link},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="extra1 != null" >
        #{extra1},
      </if>
      <if test="extra2 != null" >
        #{extra2},
      </if>
      <if test="extra3 != null" >
        #{extra3},
      </if>
    </trim>
  </insert>

</mapper>