<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.space.mybatis.dao.Cms2ContMapper" >
  <resultMap id="BaseResultMap" type="com.space.mybatis.model.Cms2Cont" >
    <result column="ID" property="id" jdbcType="BIGINT" />
    <result column="CHANNEL_ID" property="channelId" jdbcType="BIGINT" />
    <result column="SITE_ID" property="siteId" jdbcType="BIGINT" />
    <result column="ADMIN_ID" property="adminId" jdbcType="BIGINT" />
    <result column="MEMBER_ID" property="memberId" jdbcType="BIGINT" />
    <result column="SORT_DATE" property="sortDate" jdbcType="TIMESTAMP" />
    <result column="TOP_LEVEL" property="topLevel" jdbcType="BIGINT" />
    <result column="HAS_TITLE_IMG" property="hasTitleImg" jdbcType="BIGINT" />
    <result column="IS_RECOMMEND" property="isRecommend" jdbcType="BIGINT" />
    <result column="STATUS" property="status" jdbcType="BIGINT" />
    <result column="VIEWS_DAY" property="viewsDay" jdbcType="BIGINT" />
    <result column="COMMENTS_DAY" property="commentsDay" jdbcType="BIGINT" />
    <result column="DOWNLOADS_DAY" property="downloadsDay" jdbcType="BIGINT" />
    <result column="UPS_DAY" property="upsDay" jdbcType="BIGINT" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="CONT_ID_MAIN" property="contIdMain" jdbcType="BIGINT" />
    <result column="EXTER_CONT_ID" property="exterContId" jdbcType="VARCHAR" />
    <result column="IS_COPY" property="isCopy" jdbcType="BIGINT" />
    <result column="IS_HIDE" property="isHide" jdbcType="BIGINT" />
    <result column="GMT_CREATE" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="GMT_MODIFY" property="gmtModify" jdbcType="TIMESTAMP" />
    <result column="ADMIN_NAME" property="adminName" jdbcType="VARCHAR" />
    <result column="MEMBER_NAME" property="memberName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, CHANNEL_ID, SITE_ID, ADMIN_ID, MEMBER_ID, SORT_DATE, TOP_LEVEL, HAS_TITLE_IMG, 
    IS_RECOMMEND, STATUS, VIEWS_DAY, COMMENTS_DAY, DOWNLOADS_DAY, UPS_DAY, MODIFY_TIME, 
    CONT_ID_MAIN, EXTER_CONT_ID, IS_COPY, IS_HIDE, GMT_CREATE, GMT_MODIFY, ADMIN_NAME, 
    MEMBER_NAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.space.mybatis.model.Cms2ContExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cms2_cont
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.space.mybatis.model.Cms2ContExample" >
    delete from cms2_cont
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.space.mybatis.model.Cms2Cont" >
    insert into cms2_cont (ID, CHANNEL_ID, SITE_ID, 
      ADMIN_ID, MEMBER_ID, SORT_DATE, 
      TOP_LEVEL, HAS_TITLE_IMG, IS_RECOMMEND, 
      STATUS, VIEWS_DAY, COMMENTS_DAY, 
      DOWNLOADS_DAY, UPS_DAY, MODIFY_TIME, 
      CONT_ID_MAIN, EXTER_CONT_ID, IS_COPY, 
      IS_HIDE, GMT_CREATE, GMT_MODIFY, 
      ADMIN_NAME, MEMBER_NAME)
    values (#{id,jdbcType=BIGINT}, #{channelId,jdbcType=BIGINT}, #{siteId,jdbcType=BIGINT}, 
      #{adminId,jdbcType=BIGINT}, #{memberId,jdbcType=BIGINT}, #{sortDate,jdbcType=TIMESTAMP}, 
      #{topLevel,jdbcType=BIGINT}, #{hasTitleImg,jdbcType=BIGINT}, #{isRecommend,jdbcType=BIGINT}, 
      #{status,jdbcType=BIGINT}, #{viewsDay,jdbcType=BIGINT}, #{commentsDay,jdbcType=BIGINT}, 
      #{downloadsDay,jdbcType=BIGINT}, #{upsDay,jdbcType=BIGINT}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{contIdMain,jdbcType=BIGINT}, #{exterContId,jdbcType=VARCHAR}, #{isCopy,jdbcType=BIGINT}, 
      #{isHide,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, 
      #{adminName,jdbcType=VARCHAR}, #{memberName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.space.mybatis.model.Cms2Cont" >
    insert into cms2_cont
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="channelId != null" >
        CHANNEL_ID,
      </if>
      <if test="siteId != null" >
        SITE_ID,
      </if>
      <if test="adminId != null" >
        ADMIN_ID,
      </if>
      <if test="memberId != null" >
        MEMBER_ID,
      </if>
      <if test="sortDate != null" >
        SORT_DATE,
      </if>
      <if test="topLevel != null" >
        TOP_LEVEL,
      </if>
      <if test="hasTitleImg != null" >
        HAS_TITLE_IMG,
      </if>
      <if test="isRecommend != null" >
        IS_RECOMMEND,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="viewsDay != null" >
        VIEWS_DAY,
      </if>
      <if test="commentsDay != null" >
        COMMENTS_DAY,
      </if>
      <if test="downloadsDay != null" >
        DOWNLOADS_DAY,
      </if>
      <if test="upsDay != null" >
        UPS_DAY,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="contIdMain != null" >
        CONT_ID_MAIN,
      </if>
      <if test="exterContId != null" >
        EXTER_CONT_ID,
      </if>
      <if test="isCopy != null" >
        IS_COPY,
      </if>
      <if test="isHide != null" >
        IS_HIDE,
      </if>
      <if test="gmtCreate != null" >
        GMT_CREATE,
      </if>
      <if test="gmtModify != null" >
        GMT_MODIFY,
      </if>
      <if test="adminName != null" >
        ADMIN_NAME,
      </if>
      <if test="memberName != null" >
        MEMBER_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="channelId != null" >
        #{channelId,jdbcType=BIGINT},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=BIGINT},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=BIGINT},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="sortDate != null" >
        #{sortDate,jdbcType=TIMESTAMP},
      </if>
      <if test="topLevel != null" >
        #{topLevel,jdbcType=BIGINT},
      </if>
      <if test="hasTitleImg != null" >
        #{hasTitleImg,jdbcType=BIGINT},
      </if>
      <if test="isRecommend != null" >
        #{isRecommend,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIGINT},
      </if>
      <if test="viewsDay != null" >
        #{viewsDay,jdbcType=BIGINT},
      </if>
      <if test="commentsDay != null" >
        #{commentsDay,jdbcType=BIGINT},
      </if>
      <if test="downloadsDay != null" >
        #{downloadsDay,jdbcType=BIGINT},
      </if>
      <if test="upsDay != null" >
        #{upsDay,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contIdMain != null" >
        #{contIdMain,jdbcType=BIGINT},
      </if>
      <if test="exterContId != null" >
        #{exterContId,jdbcType=VARCHAR},
      </if>
      <if test="isCopy != null" >
        #{isCopy,jdbcType=BIGINT},
      </if>
      <if test="isHide != null" >
        #{isHide,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="adminName != null" >
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null" >
        #{memberName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.space.mybatis.model.Cms2ContExample" resultType="java.lang.Integer" >
    select count(*) from cms2_cont
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cms2_cont
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.channelId != null" >
        CHANNEL_ID = #{record.channelId,jdbcType=BIGINT},
      </if>
      <if test="record.siteId != null" >
        SITE_ID = #{record.siteId,jdbcType=BIGINT},
      </if>
      <if test="record.adminId != null" >
        ADMIN_ID = #{record.adminId,jdbcType=BIGINT},
      </if>
      <if test="record.memberId != null" >
        MEMBER_ID = #{record.memberId,jdbcType=BIGINT},
      </if>
      <if test="record.sortDate != null" >
        SORT_DATE = #{record.sortDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.topLevel != null" >
        TOP_LEVEL = #{record.topLevel,jdbcType=BIGINT},
      </if>
      <if test="record.hasTitleImg != null" >
        HAS_TITLE_IMG = #{record.hasTitleImg,jdbcType=BIGINT},
      </if>
      <if test="record.isRecommend != null" >
        IS_RECOMMEND = #{record.isRecommend,jdbcType=BIGINT},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=BIGINT},
      </if>
      <if test="record.viewsDay != null" >
        VIEWS_DAY = #{record.viewsDay,jdbcType=BIGINT},
      </if>
      <if test="record.commentsDay != null" >
        COMMENTS_DAY = #{record.commentsDay,jdbcType=BIGINT},
      </if>
      <if test="record.downloadsDay != null" >
        DOWNLOADS_DAY = #{record.downloadsDay,jdbcType=BIGINT},
      </if>
      <if test="record.upsDay != null" >
        UPS_DAY = #{record.upsDay,jdbcType=BIGINT},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.contIdMain != null" >
        CONT_ID_MAIN = #{record.contIdMain,jdbcType=BIGINT},
      </if>
      <if test="record.exterContId != null" >
        EXTER_CONT_ID = #{record.exterContId,jdbcType=VARCHAR},
      </if>
      <if test="record.isCopy != null" >
        IS_COPY = #{record.isCopy,jdbcType=BIGINT},
      </if>
      <if test="record.isHide != null" >
        IS_HIDE = #{record.isHide,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null" >
        GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModify != null" >
        GMT_MODIFY = #{record.gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="record.adminName != null" >
        ADMIN_NAME = #{record.adminName,jdbcType=VARCHAR},
      </if>
      <if test="record.memberName != null" >
        MEMBER_NAME = #{record.memberName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cms2_cont
    set ID = #{record.id,jdbcType=BIGINT},
      CHANNEL_ID = #{record.channelId,jdbcType=BIGINT},
      SITE_ID = #{record.siteId,jdbcType=BIGINT},
      ADMIN_ID = #{record.adminId,jdbcType=BIGINT},
      MEMBER_ID = #{record.memberId,jdbcType=BIGINT},
      SORT_DATE = #{record.sortDate,jdbcType=TIMESTAMP},
      TOP_LEVEL = #{record.topLevel,jdbcType=BIGINT},
      HAS_TITLE_IMG = #{record.hasTitleImg,jdbcType=BIGINT},
      IS_RECOMMEND = #{record.isRecommend,jdbcType=BIGINT},
      STATUS = #{record.status,jdbcType=BIGINT},
      VIEWS_DAY = #{record.viewsDay,jdbcType=BIGINT},
      COMMENTS_DAY = #{record.commentsDay,jdbcType=BIGINT},
      DOWNLOADS_DAY = #{record.downloadsDay,jdbcType=BIGINT},
      UPS_DAY = #{record.upsDay,jdbcType=BIGINT},
      MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      CONT_ID_MAIN = #{record.contIdMain,jdbcType=BIGINT},
      EXTER_CONT_ID = #{record.exterContId,jdbcType=VARCHAR},
      IS_COPY = #{record.isCopy,jdbcType=BIGINT},
      IS_HIDE = #{record.isHide,jdbcType=BIGINT},
      GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      GMT_MODIFY = #{record.gmtModify,jdbcType=TIMESTAMP},
      ADMIN_NAME = #{record.adminName,jdbcType=VARCHAR},
      MEMBER_NAME = #{record.memberName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>