<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.space.mybatis.dao.Cms2ContExtMapper" >
  <resultMap id="BaseResultMap" type="com.space.mybatis.model.Cms2ContExt" >
    <result column="ID" property="id" jdbcType="BIGINT" />
    <result column="CONT_ID" property="contId" jdbcType="BIGINT" />
    <result column="RELEASE_DATE" property="releaseDate" jdbcType="TIMESTAMP" />
    <result column="MEDIA_TYPE" property="mediaType" jdbcType="VARCHAR" />
    <result column="TITLE_COLOR" property="titleColor" jdbcType="VARCHAR" />
    <result column="IS_BOLD" property="isBold" jdbcType="BIGINT" />
    <result column="TITLE_IMG" property="titleImg" jdbcType="VARCHAR" />
    <result column="CONT_IMG" property="contImg" jdbcType="VARCHAR" />
    <result column="TYPE_IMG" property="typeImg" jdbcType="VARCHAR" />
    <result column="CONT_TPL_ID" property="contTplId" jdbcType="BIGINT" />
    <result column="ext_1" property="ext1" jdbcType="VARCHAR" />
    <result column="ext_2" property="ext2" jdbcType="VARCHAR" />
    <result column="ext_3" property="ext3" jdbcType="VARCHAR" />
    <result column="ext_4" property="ext4" jdbcType="VARCHAR" />
    <result column="ext_5" property="ext5" jdbcType="VARCHAR" />
    <result column="ext_6" property="ext6" jdbcType="VARCHAR" />
    <result column="ext_7" property="ext7" jdbcType="VARCHAR" />
    <result column="ext_8" property="ext8" jdbcType="VARCHAR" />
    <result column="ext_9" property="ext9" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseNoticeMap" type="com.space.common.dto.star.NoticeForm" >
    <result column="contId" property="contId" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="titleImg" property="titleImg" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="releaseDate" property="releaseDate" jdbcType="VARCHAR" />
    <result column="viewCount" property="viewCount" jdbcType="VARCHAR" />
    <result column="channelName" property="channelName" jdbcType="VARCHAR" />
    <result column="link" property="link" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.space.mybatis.model.Cms2ContExtWithBLOBs" extends="BaseResultMap" >
    <result column="TITLE" property="title" jdbcType="LONGVARCHAR" />
    <result column="SHORT_TITLE" property="shortTitle" jdbcType="LONGVARCHAR" />
    <result column="AUTHOR" property="author" jdbcType="LONGVARCHAR" />
    <result column="ORIGIN" property="origin" jdbcType="LONGVARCHAR" />
    <result column="ORIGIN_URL" property="originUrl" jdbcType="LONGVARCHAR" />
    <result column="REMARK" property="remark" jdbcType="LONGVARCHAR" />
    <result column="MEDIA_PATH" property="mediaPath" jdbcType="LONGVARCHAR" />
    <result column="LINK" property="link" jdbcType="LONGVARCHAR" />
    <result column="ext_0" property="ext0" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, CONT_ID, RELEASE_DATE, MEDIA_TYPE, TITLE_COLOR, IS_BOLD, TITLE_IMG, CONT_IMG, 
    TYPE_IMG, CONT_TPL_ID, ext_1, ext_2, ext_3, ext_4, ext_5, ext_6, ext_7, ext_8, ext_9
  </sql>
  <sql id="Blob_Column_List" >
    TITLE, SHORT_TITLE, AUTHOR, ORIGIN, ORIGIN_URL, REMARK, MEDIA_PATH, LINK, ext_0
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.space.mybatis.model.Cms2ContExtExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cms2_cont_ext
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.space.mybatis.model.Cms2ContExtExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cms2_cont_ext
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.space.mybatis.model.Cms2ContExtExample" >
    delete from cms2_cont_ext
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.space.mybatis.model.Cms2ContExtWithBLOBs" >
    insert into cms2_cont_ext (ID, CONT_ID, RELEASE_DATE, 
      MEDIA_TYPE, TITLE_COLOR, IS_BOLD, 
      TITLE_IMG, CONT_IMG, TYPE_IMG, 
      CONT_TPL_ID, ext_1, ext_2, 
      ext_3, ext_4, ext_5, ext_6, 
      ext_7, ext_8, ext_9, TITLE, 
      SHORT_TITLE, AUTHOR, ORIGIN, 
      ORIGIN_URL, REMARK, MEDIA_PATH, 
      LINK, ext_0)
    values (#{id,jdbcType=BIGINT}, #{contId,jdbcType=BIGINT}, #{releaseDate,jdbcType=TIMESTAMP}, 
      #{mediaType,jdbcType=VARCHAR}, #{titleColor,jdbcType=VARCHAR}, #{isBold,jdbcType=BIGINT}, 
      #{titleImg,jdbcType=VARCHAR}, #{contImg,jdbcType=VARCHAR}, #{typeImg,jdbcType=VARCHAR}, 
      #{contTplId,jdbcType=BIGINT}, #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, 
      #{ext3,jdbcType=VARCHAR}, #{ext4,jdbcType=VARCHAR}, #{ext5,jdbcType=VARCHAR}, #{ext6,jdbcType=VARCHAR}, 
      #{ext7,jdbcType=VARCHAR}, #{ext8,jdbcType=VARCHAR}, #{ext9,jdbcType=VARCHAR}, #{title,jdbcType=LONGVARCHAR}, 
      #{shortTitle,jdbcType=LONGVARCHAR}, #{author,jdbcType=LONGVARCHAR}, #{origin,jdbcType=LONGVARCHAR}, 
      #{originUrl,jdbcType=LONGVARCHAR}, #{remark,jdbcType=LONGVARCHAR}, #{mediaPath,jdbcType=LONGVARCHAR}, 
      #{link,jdbcType=LONGVARCHAR}, #{ext0,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.space.mybatis.model.Cms2ContExtWithBLOBs" >
    insert into cms2_cont_ext
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="contId != null" >
        CONT_ID,
      </if>
      <if test="releaseDate != null" >
        RELEASE_DATE,
      </if>
      <if test="mediaType != null" >
        MEDIA_TYPE,
      </if>
      <if test="titleColor != null" >
        TITLE_COLOR,
      </if>
      <if test="isBold != null" >
        IS_BOLD,
      </if>
      <if test="titleImg != null" >
        TITLE_IMG,
      </if>
      <if test="contImg != null" >
        CONT_IMG,
      </if>
      <if test="typeImg != null" >
        TYPE_IMG,
      </if>
      <if test="contTplId != null" >
        CONT_TPL_ID,
      </if>
      <if test="ext1 != null" >
        ext_1,
      </if>
      <if test="ext2 != null" >
        ext_2,
      </if>
      <if test="ext3 != null" >
        ext_3,
      </if>
      <if test="ext4 != null" >
        ext_4,
      </if>
      <if test="ext5 != null" >
        ext_5,
      </if>
      <if test="ext6 != null" >
        ext_6,
      </if>
      <if test="ext7 != null" >
        ext_7,
      </if>
      <if test="ext8 != null" >
        ext_8,
      </if>
      <if test="ext9 != null" >
        ext_9,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="shortTitle != null" >
        SHORT_TITLE,
      </if>
      <if test="author != null" >
        AUTHOR,
      </if>
      <if test="origin != null" >
        ORIGIN,
      </if>
      <if test="originUrl != null" >
        ORIGIN_URL,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="mediaPath != null" >
        MEDIA_PATH,
      </if>
      <if test="link != null" >
        LINK,
      </if>
      <if test="ext0 != null" >
        ext_0,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="contId != null" >
        #{contId,jdbcType=BIGINT},
      </if>
      <if test="releaseDate != null" >
        #{releaseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mediaType != null" >
        #{mediaType,jdbcType=VARCHAR},
      </if>
      <if test="titleColor != null" >
        #{titleColor,jdbcType=VARCHAR},
      </if>
      <if test="isBold != null" >
        #{isBold,jdbcType=BIGINT},
      </if>
      <if test="titleImg != null" >
        #{titleImg,jdbcType=VARCHAR},
      </if>
      <if test="contImg != null" >
        #{contImg,jdbcType=VARCHAR},
      </if>
      <if test="typeImg != null" >
        #{typeImg,jdbcType=VARCHAR},
      </if>
      <if test="contTplId != null" >
        #{contTplId,jdbcType=BIGINT},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null" >
        #{ext4,jdbcType=VARCHAR},
      </if>
      <if test="ext5 != null" >
        #{ext5,jdbcType=VARCHAR},
      </if>
      <if test="ext6 != null" >
        #{ext6,jdbcType=VARCHAR},
      </if>
      <if test="ext7 != null" >
        #{ext7,jdbcType=VARCHAR},
      </if>
      <if test="ext8 != null" >
        #{ext8,jdbcType=VARCHAR},
      </if>
      <if test="ext9 != null" >
        #{ext9,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=LONGVARCHAR},
      </if>
      <if test="shortTitle != null" >
        #{shortTitle,jdbcType=LONGVARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=LONGVARCHAR},
      </if>
      <if test="origin != null" >
        #{origin,jdbcType=LONGVARCHAR},
      </if>
      <if test="originUrl != null" >
        #{originUrl,jdbcType=LONGVARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="mediaPath != null" >
        #{mediaPath,jdbcType=LONGVARCHAR},
      </if>
      <if test="link != null" >
        #{link,jdbcType=LONGVARCHAR},
      </if>
      <if test="ext0 != null" >
        #{ext0,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.space.mybatis.model.Cms2ContExtExample" resultType="java.lang.Integer" >
    select count(*) from cms2_cont_ext
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cms2_cont_ext
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.contId != null" >
        CONT_ID = #{record.contId,jdbcType=BIGINT},
      </if>
      <if test="record.releaseDate != null" >
        RELEASE_DATE = #{record.releaseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mediaType != null" >
        MEDIA_TYPE = #{record.mediaType,jdbcType=VARCHAR},
      </if>
      <if test="record.titleColor != null" >
        TITLE_COLOR = #{record.titleColor,jdbcType=VARCHAR},
      </if>
      <if test="record.isBold != null" >
        IS_BOLD = #{record.isBold,jdbcType=BIGINT},
      </if>
      <if test="record.titleImg != null" >
        TITLE_IMG = #{record.titleImg,jdbcType=VARCHAR},
      </if>
      <if test="record.contImg != null" >
        CONT_IMG = #{record.contImg,jdbcType=VARCHAR},
      </if>
      <if test="record.typeImg != null" >
        TYPE_IMG = #{record.typeImg,jdbcType=VARCHAR},
      </if>
      <if test="record.contTplId != null" >
        CONT_TPL_ID = #{record.contTplId,jdbcType=BIGINT},
      </if>
      <if test="record.ext1 != null" >
        ext_1 = #{record.ext1,jdbcType=VARCHAR},
      </if>
      <if test="record.ext2 != null" >
        ext_2 = #{record.ext2,jdbcType=VARCHAR},
      </if>
      <if test="record.ext3 != null" >
        ext_3 = #{record.ext3,jdbcType=VARCHAR},
      </if>
      <if test="record.ext4 != null" >
        ext_4 = #{record.ext4,jdbcType=VARCHAR},
      </if>
      <if test="record.ext5 != null" >
        ext_5 = #{record.ext5,jdbcType=VARCHAR},
      </if>
      <if test="record.ext6 != null" >
        ext_6 = #{record.ext6,jdbcType=VARCHAR},
      </if>
      <if test="record.ext7 != null" >
        ext_7 = #{record.ext7,jdbcType=VARCHAR},
      </if>
      <if test="record.ext8 != null" >
        ext_8 = #{record.ext8,jdbcType=VARCHAR},
      </if>
      <if test="record.ext9 != null" >
        ext_9 = #{record.ext9,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        TITLE = #{record.title,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.shortTitle != null" >
        SHORT_TITLE = #{record.shortTitle,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.author != null" >
        AUTHOR = #{record.author,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.origin != null" >
        ORIGIN = #{record.origin,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.originUrl != null" >
        ORIGIN_URL = #{record.originUrl,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.mediaPath != null" >
        MEDIA_PATH = #{record.mediaPath,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.link != null" >
        LINK = #{record.link,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.ext0 != null" >
        ext_0 = #{record.ext0,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update cms2_cont_ext
    set ID = #{record.id,jdbcType=BIGINT},
      CONT_ID = #{record.contId,jdbcType=BIGINT},
      RELEASE_DATE = #{record.releaseDate,jdbcType=TIMESTAMP},
      MEDIA_TYPE = #{record.mediaType,jdbcType=VARCHAR},
      TITLE_COLOR = #{record.titleColor,jdbcType=VARCHAR},
      IS_BOLD = #{record.isBold,jdbcType=BIGINT},
      TITLE_IMG = #{record.titleImg,jdbcType=VARCHAR},
      CONT_IMG = #{record.contImg,jdbcType=VARCHAR},
      TYPE_IMG = #{record.typeImg,jdbcType=VARCHAR},
      CONT_TPL_ID = #{record.contTplId,jdbcType=BIGINT},
      ext_1 = #{record.ext1,jdbcType=VARCHAR},
      ext_2 = #{record.ext2,jdbcType=VARCHAR},
      ext_3 = #{record.ext3,jdbcType=VARCHAR},
      ext_4 = #{record.ext4,jdbcType=VARCHAR},
      ext_5 = #{record.ext5,jdbcType=VARCHAR},
      ext_6 = #{record.ext6,jdbcType=VARCHAR},
      ext_7 = #{record.ext7,jdbcType=VARCHAR},
      ext_8 = #{record.ext8,jdbcType=VARCHAR},
      ext_9 = #{record.ext9,jdbcType=VARCHAR},
      TITLE = #{record.title,jdbcType=LONGVARCHAR},
      SHORT_TITLE = #{record.shortTitle,jdbcType=LONGVARCHAR},
      AUTHOR = #{record.author,jdbcType=LONGVARCHAR},
      ORIGIN = #{record.origin,jdbcType=LONGVARCHAR},
      ORIGIN_URL = #{record.originUrl,jdbcType=LONGVARCHAR},
      REMARK = #{record.remark,jdbcType=LONGVARCHAR},
      MEDIA_PATH = #{record.mediaPath,jdbcType=LONGVARCHAR},
      LINK = #{record.link,jdbcType=LONGVARCHAR},
      ext_0 = #{record.ext0,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cms2_cont_ext
    set ID = #{record.id,jdbcType=BIGINT},
      CONT_ID = #{record.contId,jdbcType=BIGINT},
      RELEASE_DATE = #{record.releaseDate,jdbcType=TIMESTAMP},
      MEDIA_TYPE = #{record.mediaType,jdbcType=VARCHAR},
      TITLE_COLOR = #{record.titleColor,jdbcType=VARCHAR},
      IS_BOLD = #{record.isBold,jdbcType=BIGINT},
      TITLE_IMG = #{record.titleImg,jdbcType=VARCHAR},
      CONT_IMG = #{record.contImg,jdbcType=VARCHAR},
      TYPE_IMG = #{record.typeImg,jdbcType=VARCHAR},
      CONT_TPL_ID = #{record.contTplId,jdbcType=BIGINT},
      ext_1 = #{record.ext1,jdbcType=VARCHAR},
      ext_2 = #{record.ext2,jdbcType=VARCHAR},
      ext_3 = #{record.ext3,jdbcType=VARCHAR},
      ext_4 = #{record.ext4,jdbcType=VARCHAR},
      ext_5 = #{record.ext5,jdbcType=VARCHAR},
      ext_6 = #{record.ext6,jdbcType=VARCHAR},
      ext_7 = #{record.ext7,jdbcType=VARCHAR},
      ext_8 = #{record.ext8,jdbcType=VARCHAR},
      ext_9 = #{record.ext9,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>


  <!--公告,资讯-->
  <select id="selectIndexNotice" resultMap="BaseNoticeMap" parameterType="String" >
   SELECT
    DISTINCT(ext.CONT_ID) as contId,
	ext.title as title,
	ext.TITLE_IMG as titleImg,
    ext.REMARK as remark,
    channel.CODE as type,
	DATE_FORMAT(cont.SORT_DATE,'%Y-%m-%d') as releaseDate,
	cont.SORT_DATE as sortDate,
	 channel.channel_name as channelName,
	count.VIEWS+2000 as viewCount,
	ext.link
  FROM
      `cms2_cont_ext` ext
  INNER JOIN cms2_cont cont on ext.CONT_ID = cont.ID
  INNER JOIN cms2_channel channel on channel.id = cont.CHANNEL_ID
  INNER JOIN cms2_cont_count count on count.CONT_ID = ext.CONT_ID
  WHERE channel.CODE = #{channelCode}  and cont.`STATUS` = 3  ORDER BY sortDate DESC
  </select>

  <select id="countNoticeByType" resultType="long" parameterType="string">
    select count(DISTINCT(ext.CONT_ID))
  FROM
      `cms2_cont_ext` ext
  INNER JOIN cms2_cont cont on ext.CONT_ID = cont.ID
  INNER JOIN cms2_channel channel on channel.id = cont.CHANNEL_ID
  INNER JOIN cms2_obj_clob clob on clob.OBJ_ID = ext.CONT_ID
  INNER JOIN cms2_cont_count count on count.CONT_ID = ext.CONT_ID
  WHERE channel.CODE = #{channelCode} and cont.`STATUS` = 3
  </select>

  <select id="getNoticeList" resultType="Map" parameterType="com.space.common.dto.star.InfoForm">
    SELECT
      ext.CONT_ID as contId,
	  ext.title as title,
      ext.REMARK as remark,
      cont.SORT_DATE as releaseDate,
	  count.VIEWS+2000 as viewCount ,
      channel.CODE as code,
      channel.CHANNEL_NAME as name
    FROM
      `cms2_cont_ext` ext
    INNER JOIN cms2_cont cont on ext.CONT_ID = cont.ID
    INNER JOIN cms2_channel channel on channel.id = cont.CHANNEL_ID
    INNER JOIN cms2_obj_clob clob on clob.OBJ_ID = ext.CONT_ID
    INNER JOIN cms2_cont_count count on count.CONT_ID = ext.CONT_ID
    where 1=1
    <if test="code != null and code != '' " >
      and channel.CODE = #{code}
    </if>
    <if test="title != null  and title != '' " >
      and  ext.title like concat('%', #{title}, '%')
    </if>
    <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
      AND date_format(ext.RELEASE_DATE,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
    </if>
    <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
      AND date_format(ext.RELEASE_DATE,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
    </if>
    ORDER BY
    cont.SORT_DATE DESC
  </select>

  <select id="getBannerList" resultType="Map" parameterType="com.space.common.dto.star.InfoForm">
    SELECT
    adv.id as advid,
    adv.name as name,
    space.name as apaceName,
    CASE space.TYPE
    WHEN '1' THEN '图片'
    WHEN '2' THEN '文字'
    WHEN '3' THEN 'flash'
    WHEN '4' THEN '多媒体'
    WHEN '5' THEN '代码'
    END as type,
    CASE adv.IS_ENABLE
    WHEN '1' THEN '已启用'
    WHEN '2' THEN '未启用'
    END as enables,
    adv.GMT_CREATE as createTime
    FROM
    cms2_adv adv
    INNER JOIN cms2_adv_space space ON space.id = adv.SPACE_ID
    INNER JOIN cms2_attach attach ON attach.OBJ_ID = adv.id
    where 1=1
    <if test="code != null and code != '' " >
      and space.CODE = #{code}
    </if>
    <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
      AND date_format(adv.GMT_CREATE,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
    </if>
    <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
      AND date_format(adv.GMT_CREATE,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
    </if>
    ORDER BY
    adv.GMT_CREATE DESC
  </select>

  <select id="getChanles" resultType="Map">
    SELECT
	channel.code AS code,
	channel.channel_name AS name
FROM
	cms2_channel channel
WHERE
	PARENT_ID IN (
SELECT id FROM cms2_channel WHERE CODE in('xwzx','sfbz')
)
AND IS_DISPLAY = 1
  </select>

  <select id="getAdvSpace" resultType="Map">
   SELECT name,code FROM cms2_adv_space WHERE IS_ENABLE = 1
  </select>

  <update id="updateViewCount" parameterType="String">
    UPDATE cms2_cont_count set VIEWS= VIEWS+1,VIEWS_DAY=VIEWS_DAY+1,VIEWS_MONTH = VIEWS_MONTH+1,VIEWS_WEEK=VIEWS_WEEK+1 WHERE CONT_ID = #{contId}
  </update>
  
  <select id="getNoticeIdsByType" parameterType="string" resultType="string">
    SELECT cont.id as contId FROM cms2_cont cont LEFT JOIN cms2_channel channel on channel.id = cont.CHANNEL_ID
    WHERE 1=1  and cont.`STATUS` = 3
    <if test="channerCode != null and channerCode != '' " >
      and channel.CODE = #{channerCode}
    </if>
    ORDER BY cont.SORT_DATE DESC
  </select>

  <select id="getPPPBanner" parameterType="string" resultType="com.space.common.dto.star.BannerForm">
    SELECT
        adv.LINK as link,
      CONCAT(attach.ATTACH_PATH,attach.ATTACH_NAME) as bannerUrl,
      adv.name as bannerName
    FROM
        cms2_adv_space space
    LEFT JOIN cms2_adv adv ON space.id = adv.SPACE_ID
    LEFT JOIN cms2_attach attach ON attach.OBJ_ID = adv.ID
    WHERE
        space.CODE = #{type} and adv.IS_ENABLE = '1' order BY adv.PRIORITY asc
  </select>
</mapper>