<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.space.mybatis.dao.Cms2SiteMapper" >
  <resultMap id="BaseResultMap" type="com.space.mybatis.model.Cms2Site" >
    <result column="ID" property="id" jdbcType="BIGINT" />
    <result column="CONFIG_ID" property="configId" jdbcType="BIGINT" />
    <result column="FTP_UPLOAD_ID" property="ftpUploadId" jdbcType="BIGINT" />
    <result column="DOMAIN" property="domain" jdbcType="VARCHAR" />
    <result column="SITE_PATH" property="sitePath" jdbcType="VARCHAR" />
    <result column="SITE_NAME" property="siteName" jdbcType="VARCHAR" />
    <result column="SHORT_NAME" property="shortName" jdbcType="VARCHAR" />
    <result column="PROTOCOL" property="protocol" jdbcType="VARCHAR" />
    <result column="DYNAMIC_SUFFIX" property="dynamicSuffix" jdbcType="VARCHAR" />
    <result column="STATIC_SUFFIX" property="staticSuffix" jdbcType="VARCHAR" />
    <result column="STATIC_DIR" property="staticDir" jdbcType="VARCHAR" />
    <result column="IS_INDEX_TO_ROOT" property="isIndexToRoot" jdbcType="BIGINT" />
    <result column="IS_STATIC_INDEX" property="isStaticIndex" jdbcType="BIGINT" />
    <result column="LOCALE_ADMIN" property="localeAdmin" jdbcType="VARCHAR" />
    <result column="LOCALE_FRONT" property="localeFront" jdbcType="VARCHAR" />
    <result column="TPL_SOLUTION" property="tplSolution" jdbcType="VARCHAR" />
    <result column="FINAL_STEP" property="finalStep" jdbcType="BIGINT" />
    <result column="AFTER_CHECK" property="afterCheck" jdbcType="BIGINT" />
    <result column="IS_RELATIVE_PATH" property="isRelativePath" jdbcType="BIGINT" />
    <result column="IS_RECYCLE_ON" property="isRecycleOn" jdbcType="BIGINT" />
    <result column="STATIC_RANGE" property="staticRange" jdbcType="BIGINT" />
    <result column="STATIC_PAGE" property="staticPage" jdbcType="BIGINT" />
    <result column="PAGE_SIZE" property="pageSize" jdbcType="BIGINT" />
    <result column="GMT_CREATE" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="GMT_MODIFY" property="gmtModify" jdbcType="TIMESTAMP" />
    <result column="OVER_REVIEW" property="overReview" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.space.mybatis.model.Cms2SiteWithBLOBs" extends="BaseResultMap" >
    <result column="DOMAIN_ALIAS" property="domainAlias" jdbcType="LONGVARCHAR" />
    <result column="DOMAIN_REDIRECT" property="domainRedirect" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, CONFIG_ID, FTP_UPLOAD_ID, DOMAIN, SITE_PATH, SITE_NAME, SHORT_NAME, PROTOCOL, 
    DYNAMIC_SUFFIX, STATIC_SUFFIX, STATIC_DIR, IS_INDEX_TO_ROOT, IS_STATIC_INDEX, LOCALE_ADMIN, 
    LOCALE_FRONT, TPL_SOLUTION, FINAL_STEP, AFTER_CHECK, IS_RELATIVE_PATH, IS_RECYCLE_ON, 
    STATIC_RANGE, STATIC_PAGE, PAGE_SIZE, GMT_CREATE, GMT_MODIFY, OVER_REVIEW
  </sql>
  <sql id="Blob_Column_List" >
    DOMAIN_ALIAS, DOMAIN_REDIRECT
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.space.mybatis.model.Cms2SiteExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cms2_site
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.space.mybatis.model.Cms2SiteExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cms2_site
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.space.mybatis.model.Cms2SiteExample" >
    delete from cms2_site
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.space.mybatis.model.Cms2SiteWithBLOBs" >
    insert into cms2_site (ID, CONFIG_ID, FTP_UPLOAD_ID, 
      DOMAIN, SITE_PATH, SITE_NAME, 
      SHORT_NAME, PROTOCOL, DYNAMIC_SUFFIX, 
      STATIC_SUFFIX, STATIC_DIR, IS_INDEX_TO_ROOT, 
      IS_STATIC_INDEX, LOCALE_ADMIN, LOCALE_FRONT, 
      TPL_SOLUTION, FINAL_STEP, AFTER_CHECK, 
      IS_RELATIVE_PATH, IS_RECYCLE_ON, STATIC_RANGE, 
      STATIC_PAGE, PAGE_SIZE, GMT_CREATE, 
      GMT_MODIFY, OVER_REVIEW, DOMAIN_ALIAS, 
      DOMAIN_REDIRECT)
    values (#{id,jdbcType=BIGINT}, #{configId,jdbcType=BIGINT}, #{ftpUploadId,jdbcType=BIGINT}, 
      #{domain,jdbcType=VARCHAR}, #{sitePath,jdbcType=VARCHAR}, #{siteName,jdbcType=VARCHAR}, 
      #{shortName,jdbcType=VARCHAR}, #{protocol,jdbcType=VARCHAR}, #{dynamicSuffix,jdbcType=VARCHAR}, 
      #{staticSuffix,jdbcType=VARCHAR}, #{staticDir,jdbcType=VARCHAR}, #{isIndexToRoot,jdbcType=BIGINT}, 
      #{isStaticIndex,jdbcType=BIGINT}, #{localeAdmin,jdbcType=VARCHAR}, #{localeFront,jdbcType=VARCHAR}, 
      #{tplSolution,jdbcType=VARCHAR}, #{finalStep,jdbcType=BIGINT}, #{afterCheck,jdbcType=BIGINT}, 
      #{isRelativePath,jdbcType=BIGINT}, #{isRecycleOn,jdbcType=BIGINT}, #{staticRange,jdbcType=BIGINT}, 
      #{staticPage,jdbcType=BIGINT}, #{pageSize,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModify,jdbcType=TIMESTAMP}, #{overReview,jdbcType=BIGINT}, #{domainAlias,jdbcType=LONGVARCHAR}, 
      #{domainRedirect,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.space.mybatis.model.Cms2SiteWithBLOBs" >
    insert into cms2_site
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="configId != null" >
        CONFIG_ID,
      </if>
      <if test="ftpUploadId != null" >
        FTP_UPLOAD_ID,
      </if>
      <if test="domain != null" >
        DOMAIN,
      </if>
      <if test="sitePath != null" >
        SITE_PATH,
      </if>
      <if test="siteName != null" >
        SITE_NAME,
      </if>
      <if test="shortName != null" >
        SHORT_NAME,
      </if>
      <if test="protocol != null" >
        PROTOCOL,
      </if>
      <if test="dynamicSuffix != null" >
        DYNAMIC_SUFFIX,
      </if>
      <if test="staticSuffix != null" >
        STATIC_SUFFIX,
      </if>
      <if test="staticDir != null" >
        STATIC_DIR,
      </if>
      <if test="isIndexToRoot != null" >
        IS_INDEX_TO_ROOT,
      </if>
      <if test="isStaticIndex != null" >
        IS_STATIC_INDEX,
      </if>
      <if test="localeAdmin != null" >
        LOCALE_ADMIN,
      </if>
      <if test="localeFront != null" >
        LOCALE_FRONT,
      </if>
      <if test="tplSolution != null" >
        TPL_SOLUTION,
      </if>
      <if test="finalStep != null" >
        FINAL_STEP,
      </if>
      <if test="afterCheck != null" >
        AFTER_CHECK,
      </if>
      <if test="isRelativePath != null" >
        IS_RELATIVE_PATH,
      </if>
      <if test="isRecycleOn != null" >
        IS_RECYCLE_ON,
      </if>
      <if test="staticRange != null" >
        STATIC_RANGE,
      </if>
      <if test="staticPage != null" >
        STATIC_PAGE,
      </if>
      <if test="pageSize != null" >
        PAGE_SIZE,
      </if>
      <if test="gmtCreate != null" >
        GMT_CREATE,
      </if>
      <if test="gmtModify != null" >
        GMT_MODIFY,
      </if>
      <if test="overReview != null" >
        OVER_REVIEW,
      </if>
      <if test="domainAlias != null" >
        DOMAIN_ALIAS,
      </if>
      <if test="domainRedirect != null" >
        DOMAIN_REDIRECT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="configId != null" >
        #{configId,jdbcType=BIGINT},
      </if>
      <if test="ftpUploadId != null" >
        #{ftpUploadId,jdbcType=BIGINT},
      </if>
      <if test="domain != null" >
        #{domain,jdbcType=VARCHAR},
      </if>
      <if test="sitePath != null" >
        #{sitePath,jdbcType=VARCHAR},
      </if>
      <if test="siteName != null" >
        #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="protocol != null" >
        #{protocol,jdbcType=VARCHAR},
      </if>
      <if test="dynamicSuffix != null" >
        #{dynamicSuffix,jdbcType=VARCHAR},
      </if>
      <if test="staticSuffix != null" >
        #{staticSuffix,jdbcType=VARCHAR},
      </if>
      <if test="staticDir != null" >
        #{staticDir,jdbcType=VARCHAR},
      </if>
      <if test="isIndexToRoot != null" >
        #{isIndexToRoot,jdbcType=BIGINT},
      </if>
      <if test="isStaticIndex != null" >
        #{isStaticIndex,jdbcType=BIGINT},
      </if>
      <if test="localeAdmin != null" >
        #{localeAdmin,jdbcType=VARCHAR},
      </if>
      <if test="localeFront != null" >
        #{localeFront,jdbcType=VARCHAR},
      </if>
      <if test="tplSolution != null" >
        #{tplSolution,jdbcType=VARCHAR},
      </if>
      <if test="finalStep != null" >
        #{finalStep,jdbcType=BIGINT},
      </if>
      <if test="afterCheck != null" >
        #{afterCheck,jdbcType=BIGINT},
      </if>
      <if test="isRelativePath != null" >
        #{isRelativePath,jdbcType=BIGINT},
      </if>
      <if test="isRecycleOn != null" >
        #{isRecycleOn,jdbcType=BIGINT},
      </if>
      <if test="staticRange != null" >
        #{staticRange,jdbcType=BIGINT},
      </if>
      <if test="staticPage != null" >
        #{staticPage,jdbcType=BIGINT},
      </if>
      <if test="pageSize != null" >
        #{pageSize,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="overReview != null" >
        #{overReview,jdbcType=BIGINT},
      </if>
      <if test="domainAlias != null" >
        #{domainAlias,jdbcType=LONGVARCHAR},
      </if>
      <if test="domainRedirect != null" >
        #{domainRedirect,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.space.mybatis.model.Cms2SiteExample" resultType="java.lang.Integer" >
    select count(*) from cms2_site
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cms2_site
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.configId != null" >
        CONFIG_ID = #{record.configId,jdbcType=BIGINT},
      </if>
      <if test="record.ftpUploadId != null" >
        FTP_UPLOAD_ID = #{record.ftpUploadId,jdbcType=BIGINT},
      </if>
      <if test="record.domain != null" >
        DOMAIN = #{record.domain,jdbcType=VARCHAR},
      </if>
      <if test="record.sitePath != null" >
        SITE_PATH = #{record.sitePath,jdbcType=VARCHAR},
      </if>
      <if test="record.siteName != null" >
        SITE_NAME = #{record.siteName,jdbcType=VARCHAR},
      </if>
      <if test="record.shortName != null" >
        SHORT_NAME = #{record.shortName,jdbcType=VARCHAR},
      </if>
      <if test="record.protocol != null" >
        PROTOCOL = #{record.protocol,jdbcType=VARCHAR},
      </if>
      <if test="record.dynamicSuffix != null" >
        DYNAMIC_SUFFIX = #{record.dynamicSuffix,jdbcType=VARCHAR},
      </if>
      <if test="record.staticSuffix != null" >
        STATIC_SUFFIX = #{record.staticSuffix,jdbcType=VARCHAR},
      </if>
      <if test="record.staticDir != null" >
        STATIC_DIR = #{record.staticDir,jdbcType=VARCHAR},
      </if>
      <if test="record.isIndexToRoot != null" >
        IS_INDEX_TO_ROOT = #{record.isIndexToRoot,jdbcType=BIGINT},
      </if>
      <if test="record.isStaticIndex != null" >
        IS_STATIC_INDEX = #{record.isStaticIndex,jdbcType=BIGINT},
      </if>
      <if test="record.localeAdmin != null" >
        LOCALE_ADMIN = #{record.localeAdmin,jdbcType=VARCHAR},
      </if>
      <if test="record.localeFront != null" >
        LOCALE_FRONT = #{record.localeFront,jdbcType=VARCHAR},
      </if>
      <if test="record.tplSolution != null" >
        TPL_SOLUTION = #{record.tplSolution,jdbcType=VARCHAR},
      </if>
      <if test="record.finalStep != null" >
        FINAL_STEP = #{record.finalStep,jdbcType=BIGINT},
      </if>
      <if test="record.afterCheck != null" >
        AFTER_CHECK = #{record.afterCheck,jdbcType=BIGINT},
      </if>
      <if test="record.isRelativePath != null" >
        IS_RELATIVE_PATH = #{record.isRelativePath,jdbcType=BIGINT},
      </if>
      <if test="record.isRecycleOn != null" >
        IS_RECYCLE_ON = #{record.isRecycleOn,jdbcType=BIGINT},
      </if>
      <if test="record.staticRange != null" >
        STATIC_RANGE = #{record.staticRange,jdbcType=BIGINT},
      </if>
      <if test="record.staticPage != null" >
        STATIC_PAGE = #{record.staticPage,jdbcType=BIGINT},
      </if>
      <if test="record.pageSize != null" >
        PAGE_SIZE = #{record.pageSize,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null" >
        GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModify != null" >
        GMT_MODIFY = #{record.gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="record.overReview != null" >
        OVER_REVIEW = #{record.overReview,jdbcType=BIGINT},
      </if>
      <if test="record.domainAlias != null" >
        DOMAIN_ALIAS = #{record.domainAlias,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.domainRedirect != null" >
        DOMAIN_REDIRECT = #{record.domainRedirect,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update cms2_site
    set ID = #{record.id,jdbcType=BIGINT},
      CONFIG_ID = #{record.configId,jdbcType=BIGINT},
      FTP_UPLOAD_ID = #{record.ftpUploadId,jdbcType=BIGINT},
      DOMAIN = #{record.domain,jdbcType=VARCHAR},
      SITE_PATH = #{record.sitePath,jdbcType=VARCHAR},
      SITE_NAME = #{record.siteName,jdbcType=VARCHAR},
      SHORT_NAME = #{record.shortName,jdbcType=VARCHAR},
      PROTOCOL = #{record.protocol,jdbcType=VARCHAR},
      DYNAMIC_SUFFIX = #{record.dynamicSuffix,jdbcType=VARCHAR},
      STATIC_SUFFIX = #{record.staticSuffix,jdbcType=VARCHAR},
      STATIC_DIR = #{record.staticDir,jdbcType=VARCHAR},
      IS_INDEX_TO_ROOT = #{record.isIndexToRoot,jdbcType=BIGINT},
      IS_STATIC_INDEX = #{record.isStaticIndex,jdbcType=BIGINT},
      LOCALE_ADMIN = #{record.localeAdmin,jdbcType=VARCHAR},
      LOCALE_FRONT = #{record.localeFront,jdbcType=VARCHAR},
      TPL_SOLUTION = #{record.tplSolution,jdbcType=VARCHAR},
      FINAL_STEP = #{record.finalStep,jdbcType=BIGINT},
      AFTER_CHECK = #{record.afterCheck,jdbcType=BIGINT},
      IS_RELATIVE_PATH = #{record.isRelativePath,jdbcType=BIGINT},
      IS_RECYCLE_ON = #{record.isRecycleOn,jdbcType=BIGINT},
      STATIC_RANGE = #{record.staticRange,jdbcType=BIGINT},
      STATIC_PAGE = #{record.staticPage,jdbcType=BIGINT},
      PAGE_SIZE = #{record.pageSize,jdbcType=BIGINT},
      GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      GMT_MODIFY = #{record.gmtModify,jdbcType=TIMESTAMP},
      OVER_REVIEW = #{record.overReview,jdbcType=BIGINT},
      DOMAIN_ALIAS = #{record.domainAlias,jdbcType=LONGVARCHAR},
      DOMAIN_REDIRECT = #{record.domainRedirect,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cms2_site
    set ID = #{record.id,jdbcType=BIGINT},
      CONFIG_ID = #{record.configId,jdbcType=BIGINT},
      FTP_UPLOAD_ID = #{record.ftpUploadId,jdbcType=BIGINT},
      DOMAIN = #{record.domain,jdbcType=VARCHAR},
      SITE_PATH = #{record.sitePath,jdbcType=VARCHAR},
      SITE_NAME = #{record.siteName,jdbcType=VARCHAR},
      SHORT_NAME = #{record.shortName,jdbcType=VARCHAR},
      PROTOCOL = #{record.protocol,jdbcType=VARCHAR},
      DYNAMIC_SUFFIX = #{record.dynamicSuffix,jdbcType=VARCHAR},
      STATIC_SUFFIX = #{record.staticSuffix,jdbcType=VARCHAR},
      STATIC_DIR = #{record.staticDir,jdbcType=VARCHAR},
      IS_INDEX_TO_ROOT = #{record.isIndexToRoot,jdbcType=BIGINT},
      IS_STATIC_INDEX = #{record.isStaticIndex,jdbcType=BIGINT},
      LOCALE_ADMIN = #{record.localeAdmin,jdbcType=VARCHAR},
      LOCALE_FRONT = #{record.localeFront,jdbcType=VARCHAR},
      TPL_SOLUTION = #{record.tplSolution,jdbcType=VARCHAR},
      FINAL_STEP = #{record.finalStep,jdbcType=BIGINT},
      AFTER_CHECK = #{record.afterCheck,jdbcType=BIGINT},
      IS_RELATIVE_PATH = #{record.isRelativePath,jdbcType=BIGINT},
      IS_RECYCLE_ON = #{record.isRecycleOn,jdbcType=BIGINT},
      STATIC_RANGE = #{record.staticRange,jdbcType=BIGINT},
      STATIC_PAGE = #{record.staticPage,jdbcType=BIGINT},
      PAGE_SIZE = #{record.pageSize,jdbcType=BIGINT},
      GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      GMT_MODIFY = #{record.gmtModify,jdbcType=TIMESTAMP},
      OVER_REVIEW = #{record.overReview,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>