<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.space.mybatis.dao.Cms2AttachMapper" >
  <resultMap id="BaseResultMap" type="com.space.mybatis.model.Cms2Attach" >
    <result column="ID" property="id" jdbcType="BIGINT" />
    <result column="ATTACH_TYPE" property="attachType" jdbcType="BIGINT" />
    <result column="OBJ_ID" property="objId" jdbcType="BIGINT" />
    <result column="PRIORITY" property="priority" jdbcType="BIGINT" />
    <result column="FILE_ID" property="fileId" jdbcType="BIGINT" />
    <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" />
    <result column="DOWNLOAD_COUNT" property="downloadCount" jdbcType="BIGINT" />
    <result column="STATUS" property="status" jdbcType="BIGINT" />
    <result column="GMT_CREATE" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="GMT_MODIFY" property="gmtModify" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.space.mybatis.model.Cms2AttachWithBLOBs" extends="BaseResultMap" >
    <result column="ATTACH_PATH" property="attachPath" jdbcType="LONGVARCHAR" />
    <result column="ATTACH_NAME" property="attachName" jdbcType="LONGVARCHAR" />
    <result column="REMARK" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, ATTACH_TYPE, OBJ_ID, PRIORITY, FILE_ID, FILE_NAME, DOWNLOAD_COUNT, STATUS, GMT_CREATE, 
    GMT_MODIFY
  </sql>
  <sql id="Blob_Column_List" >
    ATTACH_PATH, ATTACH_NAME, REMARK
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.space.mybatis.model.Cms2AttachExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cms2_attach
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.space.mybatis.model.Cms2AttachExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cms2_attach
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.space.mybatis.model.Cms2AttachExample" >
    delete from cms2_attach
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.space.mybatis.model.Cms2AttachWithBLOBs" >
    insert into cms2_attach (ID, ATTACH_TYPE, OBJ_ID, 
      PRIORITY, FILE_ID, FILE_NAME, 
      DOWNLOAD_COUNT, STATUS, GMT_CREATE, 
      GMT_MODIFY, ATTACH_PATH, ATTACH_NAME, 
      REMARK)
    values (#{id,jdbcType=BIGINT}, #{attachType,jdbcType=BIGINT}, #{objId,jdbcType=BIGINT}, 
      #{priority,jdbcType=BIGINT}, #{fileId,jdbcType=BIGINT}, #{fileName,jdbcType=VARCHAR}, 
      #{downloadCount,jdbcType=BIGINT}, #{status,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModify,jdbcType=TIMESTAMP}, #{attachPath,jdbcType=LONGVARCHAR}, #{attachName,jdbcType=LONGVARCHAR}, 
      #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.space.mybatis.model.Cms2AttachWithBLOBs" >
    insert into cms2_attach
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="attachType != null" >
        ATTACH_TYPE,
      </if>
      <if test="objId != null" >
        OBJ_ID,
      </if>
      <if test="priority != null" >
        PRIORITY,
      </if>
      <if test="fileId != null" >
        FILE_ID,
      </if>
      <if test="fileName != null" >
        FILE_NAME,
      </if>
      <if test="downloadCount != null" >
        DOWNLOAD_COUNT,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="gmtCreate != null" >
        GMT_CREATE,
      </if>
      <if test="gmtModify != null" >
        GMT_MODIFY,
      </if>
      <if test="attachPath != null" >
        ATTACH_PATH,
      </if>
      <if test="attachName != null" >
        ATTACH_NAME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="attachType != null" >
        #{attachType,jdbcType=BIGINT},
      </if>
      <if test="objId != null" >
        #{objId,jdbcType=BIGINT},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=BIGINT},
      </if>
      <if test="fileId != null" >
        #{fileId,jdbcType=BIGINT},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="downloadCount != null" >
        #{downloadCount,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="attachPath != null" >
        #{attachPath,jdbcType=LONGVARCHAR},
      </if>
      <if test="attachName != null" >
        #{attachName,jdbcType=LONGVARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.space.mybatis.model.Cms2AttachExample" resultType="java.lang.Integer" >
    select count(*) from cms2_attach
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cms2_attach
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.attachType != null" >
        ATTACH_TYPE = #{record.attachType,jdbcType=BIGINT},
      </if>
      <if test="record.objId != null" >
        OBJ_ID = #{record.objId,jdbcType=BIGINT},
      </if>
      <if test="record.priority != null" >
        PRIORITY = #{record.priority,jdbcType=BIGINT},
      </if>
      <if test="record.fileId != null" >
        FILE_ID = #{record.fileId,jdbcType=BIGINT},
      </if>
      <if test="record.fileName != null" >
        FILE_NAME = #{record.fileName,jdbcType=VARCHAR},
      </if>
      <if test="record.downloadCount != null" >
        DOWNLOAD_COUNT = #{record.downloadCount,jdbcType=BIGINT},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null" >
        GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModify != null" >
        GMT_MODIFY = #{record.gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="record.attachPath != null" >
        ATTACH_PATH = #{record.attachPath,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.attachName != null" >
        ATTACH_NAME = #{record.attachName,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update cms2_attach
    set ID = #{record.id,jdbcType=BIGINT},
      ATTACH_TYPE = #{record.attachType,jdbcType=BIGINT},
      OBJ_ID = #{record.objId,jdbcType=BIGINT},
      PRIORITY = #{record.priority,jdbcType=BIGINT},
      FILE_ID = #{record.fileId,jdbcType=BIGINT},
      FILE_NAME = #{record.fileName,jdbcType=VARCHAR},
      DOWNLOAD_COUNT = #{record.downloadCount,jdbcType=BIGINT},
      STATUS = #{record.status,jdbcType=BIGINT},
      GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      GMT_MODIFY = #{record.gmtModify,jdbcType=TIMESTAMP},
      ATTACH_PATH = #{record.attachPath,jdbcType=LONGVARCHAR},
      ATTACH_NAME = #{record.attachName,jdbcType=LONGVARCHAR},
      REMARK = #{record.remark,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cms2_attach
    set ID = #{record.id,jdbcType=BIGINT},
      ATTACH_TYPE = #{record.attachType,jdbcType=BIGINT},
      OBJ_ID = #{record.objId,jdbcType=BIGINT},
      PRIORITY = #{record.priority,jdbcType=BIGINT},
      FILE_ID = #{record.fileId,jdbcType=BIGINT},
      FILE_NAME = #{record.fileName,jdbcType=VARCHAR},
      DOWNLOAD_COUNT = #{record.downloadCount,jdbcType=BIGINT},
      STATUS = #{record.status,jdbcType=BIGINT},
      GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      GMT_MODIFY = #{record.gmtModify,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>