<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.space.mybatis.dao.Cms2FlinkCtgMapper" >
  <resultMap id="BaseResultMap" type="com.space.mybatis.model.Cms2FlinkCtg" >
    <result column="ID" property="id" jdbcType="BIGINT" />
    <result column="SITE_ID" property="siteId" jdbcType="BIGINT" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="BIGINT" />
    <result column="IS_PARENT" property="isParent" jdbcType="BIGINT" />
    <result column="PARENT_ID" property="parentId" jdbcType="BIGINT" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="PRIORITY" property="priority" jdbcType="BIGINT" />
    <result column="SORT_TYPE" property="sortType" jdbcType="BIGINT" />
    <result column="IS_ENABLE" property="isEnable" jdbcType="BIGINT" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="GMT_CREATE" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="GMT_MODIFY" property="gmtModify" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, SITE_ID, NAME, TYPE, IS_PARENT, PARENT_ID, CODE, PRIORITY, SORT_TYPE, IS_ENABLE, 
    REMARK, GMT_CREATE, GMT_MODIFY, STATUS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.space.mybatis.model.Cms2FlinkCtgExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cms2_flink_ctg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.space.mybatis.model.Cms2FlinkCtgExample" >
    delete from cms2_flink_ctg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.space.mybatis.model.Cms2FlinkCtg" >
    insert into cms2_flink_ctg (ID, SITE_ID, NAME, 
      TYPE, IS_PARENT, PARENT_ID, 
      CODE, PRIORITY, SORT_TYPE, 
      IS_ENABLE, REMARK, GMT_CREATE, 
      GMT_MODIFY, STATUS)
    values (#{id,jdbcType=BIGINT}, #{siteId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=BIGINT}, #{isParent,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, 
      #{code,jdbcType=VARCHAR}, #{priority,jdbcType=BIGINT}, #{sortType,jdbcType=BIGINT}, 
      #{isEnable,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModify,jdbcType=TIMESTAMP}, #{status,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.space.mybatis.model.Cms2FlinkCtg" >
    insert into cms2_flink_ctg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="siteId != null" >
        SITE_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="isParent != null" >
        IS_PARENT,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="priority != null" >
        PRIORITY,
      </if>
      <if test="sortType != null" >
        SORT_TYPE,
      </if>
      <if test="isEnable != null" >
        IS_ENABLE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="gmtCreate != null" >
        GMT_CREATE,
      </if>
      <if test="gmtModify != null" >
        GMT_MODIFY,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=BIGINT},
      </if>
      <if test="isParent != null" >
        #{isParent,jdbcType=BIGINT},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=BIGINT},
      </if>
      <if test="sortType != null" >
        #{sortType,jdbcType=BIGINT},
      </if>
      <if test="isEnable != null" >
        #{isEnable,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.space.mybatis.model.Cms2FlinkCtgExample" resultType="java.lang.Integer" >
    select count(*) from cms2_flink_ctg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cms2_flink_ctg
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.siteId != null" >
        SITE_ID = #{record.siteId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        TYPE = #{record.type,jdbcType=BIGINT},
      </if>
      <if test="record.isParent != null" >
        IS_PARENT = #{record.isParent,jdbcType=BIGINT},
      </if>
      <if test="record.parentId != null" >
        PARENT_ID = #{record.parentId,jdbcType=BIGINT},
      </if>
      <if test="record.code != null" >
        CODE = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.priority != null" >
        PRIORITY = #{record.priority,jdbcType=BIGINT},
      </if>
      <if test="record.sortType != null" >
        SORT_TYPE = #{record.sortType,jdbcType=BIGINT},
      </if>
      <if test="record.isEnable != null" >
        IS_ENABLE = #{record.isEnable,jdbcType=BIGINT},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null" >
        GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModify != null" >
        GMT_MODIFY = #{record.gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cms2_flink_ctg
    set ID = #{record.id,jdbcType=BIGINT},
      SITE_ID = #{record.siteId,jdbcType=BIGINT},
      NAME = #{record.name,jdbcType=VARCHAR},
      TYPE = #{record.type,jdbcType=BIGINT},
      IS_PARENT = #{record.isParent,jdbcType=BIGINT},
      PARENT_ID = #{record.parentId,jdbcType=BIGINT},
      CODE = #{record.code,jdbcType=VARCHAR},
      PRIORITY = #{record.priority,jdbcType=BIGINT},
      SORT_TYPE = #{record.sortType,jdbcType=BIGINT},
      IS_ENABLE = #{record.isEnable,jdbcType=BIGINT},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      GMT_MODIFY = #{record.gmtModify,jdbcType=TIMESTAMP},
      STATUS = #{record.status,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>