<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.space.mybatis.dao.Cms2AdvMapper" >
  <resultMap id="BaseResultMap" type="com.space.mybatis.model.Cms2Adv" >
    <result column="ID" property="id" jdbcType="BIGINT" />
    <result column="SPACE_ID" property="spaceId" jdbcType="BIGINT" />
    <result column="SITE_ID" property="siteId" jdbcType="BIGINT" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="BIGINT" />
    <result column="DISPLAY_COUNT" property="displayCount" jdbcType="BIGINT" />
    <result column="CLICK_COUNT" property="clickCount" jdbcType="BIGINT" />
    <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP" />
    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="BIGINT" />
    <result column="IS_ENABLE" property="isEnable" jdbcType="BIGINT" />
    <result column="CORP_ID" property="corpId" jdbcType="BIGINT" />
    <result column="IS_DEFAULT" property="isDefault" jdbcType="BIGINT" />
    <result column="TARGET" property="target" jdbcType="BIGINT" />
    <result column="LINK" property="link" jdbcType="VARCHAR" />
    <result column="HEIGHT" property="height" jdbcType="BIGINT" />
    <result column="WIDTH" property="width" jdbcType="BIGINT" />
    <result column="GMT_CREATE" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="GMT_MODIFY" property="gmtModify" jdbcType="TIMESTAMP" />
    <result column="PRIORITY" property="priority" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="BannerResultMap" type="com.space.common.dto.star.BannerForm" >
    <result column="link" property="link" jdbcType="VARCHAR" />
    <result column="bannerUrl" property="bannerUrl" jdbcType="VARCHAR" />
    <result column="bannerName" property="bannerName" jdbcType="VARCHAR" />
    <result column="bannerType" property="bannerType" jdbcType="VARCHAR" />
    <result column="priority" property="priority" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.space.mybatis.model.Cms2Adv" extends="BaseResultMap" >
    <result column="TITLE" property="title" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, SPACE_ID, SITE_ID, NAME, TYPE, DISPLAY_COUNT, CLICK_COUNT, START_TIME, END_TIME, 
    STATUS, IS_ENABLE, CORP_ID, IS_DEFAULT, TARGET, LINK, HEIGHT, WIDTH, GMT_CREATE, 
    GMT_MODIFY, PRIORITY
  </sql>
  <sql id="Blob_Column_List" >
    TITLE
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.space.mybatis.model.Cms2AdvExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cms2_adv
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.space.mybatis.model.Cms2AdvExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cms2_adv
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.space.mybatis.model.Cms2AdvExample" >
    delete from cms2_adv
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.space.mybatis.model.Cms2Adv" >
    insert into cms2_adv (ID, SPACE_ID, SITE_ID, 
      NAME, TYPE, DISPLAY_COUNT, 
      CLICK_COUNT, START_TIME, END_TIME, 
      STATUS, IS_ENABLE, CORP_ID, 
      IS_DEFAULT, TARGET, LINK, 
      HEIGHT, WIDTH, GMT_CREATE, 
      GMT_MODIFY, PRIORITY, TITLE
      )
    values (#{id,jdbcType=BIGINT}, #{spaceId,jdbcType=BIGINT}, #{siteId,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{type,jdbcType=BIGINT}, #{displayCount,jdbcType=BIGINT}, 
      #{clickCount,jdbcType=BIGINT}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=BIGINT}, #{isEnable,jdbcType=BIGINT}, #{corpId,jdbcType=BIGINT}, 
      #{isDefault,jdbcType=BIGINT}, #{target,jdbcType=BIGINT}, #{link,jdbcType=VARCHAR}, 
      #{height,jdbcType=BIGINT}, #{width,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModify,jdbcType=TIMESTAMP}, #{priority,jdbcType=BIGINT}, #{title,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.space.mybatis.model.Cms2Adv" >
    insert into cms2_adv
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="spaceId != null" >
        SPACE_ID,
      </if>
      <if test="siteId != null" >
        SITE_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="displayCount != null" >
        DISPLAY_COUNT,
      </if>
      <if test="clickCount != null" >
        CLICK_COUNT,
      </if>
      <if test="startTime != null" >
        START_TIME,
      </if>
      <if test="endTime != null" >
        END_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="isEnable != null" >
        IS_ENABLE,
      </if>
      <if test="corpId != null" >
        CORP_ID,
      </if>
      <if test="isDefault != null" >
        IS_DEFAULT,
      </if>
      <if test="target != null" >
        TARGET,
      </if>
      <if test="link != null" >
        LINK,
      </if>
      <if test="height != null" >
        HEIGHT,
      </if>
      <if test="width != null" >
        WIDTH,
      </if>
      <if test="gmtCreate != null" >
        GMT_CREATE,
      </if>
      <if test="gmtModify != null" >
        GMT_MODIFY,
      </if>
      <if test="priority != null" >
        PRIORITY,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="spaceId != null" >
        #{spaceId,jdbcType=BIGINT},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=BIGINT},
      </if>
      <if test="displayCount != null" >
        #{displayCount,jdbcType=BIGINT},
      </if>
      <if test="clickCount != null" >
        #{clickCount,jdbcType=BIGINT},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIGINT},
      </if>
      <if test="isEnable != null" >
        #{isEnable,jdbcType=BIGINT},
      </if>
      <if test="corpId != null" >
        #{corpId,jdbcType=BIGINT},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=BIGINT},
      </if>
      <if test="target != null" >
        #{target,jdbcType=BIGINT},
      </if>
      <if test="link != null" >
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        #{height,jdbcType=BIGINT},
      </if>
      <if test="width != null" >
        #{width,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.space.mybatis.model.Cms2AdvExample" resultType="java.lang.Integer" >
    select count(*) from cms2_adv
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cms2_adv
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.spaceId != null" >
        SPACE_ID = #{record.spaceId,jdbcType=BIGINT},
      </if>
      <if test="record.siteId != null" >
        SITE_ID = #{record.siteId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        TYPE = #{record.type,jdbcType=BIGINT},
      </if>
      <if test="record.displayCount != null" >
        DISPLAY_COUNT = #{record.displayCount,jdbcType=BIGINT},
      </if>
      <if test="record.clickCount != null" >
        CLICK_COUNT = #{record.clickCount,jdbcType=BIGINT},
      </if>
      <if test="record.startTime != null" >
        START_TIME = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null" >
        END_TIME = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=BIGINT},
      </if>
      <if test="record.isEnable != null" >
        IS_ENABLE = #{record.isEnable,jdbcType=BIGINT},
      </if>
      <if test="record.corpId != null" >
        CORP_ID = #{record.corpId,jdbcType=BIGINT},
      </if>
      <if test="record.isDefault != null" >
        IS_DEFAULT = #{record.isDefault,jdbcType=BIGINT},
      </if>
      <if test="record.target != null" >
        TARGET = #{record.target,jdbcType=BIGINT},
      </if>
      <if test="record.link != null" >
        LINK = #{record.link,jdbcType=VARCHAR},
      </if>
      <if test="record.height != null" >
        HEIGHT = #{record.height,jdbcType=BIGINT},
      </if>
      <if test="record.width != null" >
        WIDTH = #{record.width,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null" >
        GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModify != null" >
        GMT_MODIFY = #{record.gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="record.priority != null" >
        PRIORITY = #{record.priority,jdbcType=BIGINT},
      </if>
      <if test="record.title != null" >
        TITLE = #{record.title,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update cms2_adv
    set ID = #{record.id,jdbcType=BIGINT},
      SPACE_ID = #{record.spaceId,jdbcType=BIGINT},
      SITE_ID = #{record.siteId,jdbcType=BIGINT},
      NAME = #{record.name,jdbcType=VARCHAR},
      TYPE = #{record.type,jdbcType=BIGINT},
      DISPLAY_COUNT = #{record.displayCount,jdbcType=BIGINT},
      CLICK_COUNT = #{record.clickCount,jdbcType=BIGINT},
      START_TIME = #{record.startTime,jdbcType=TIMESTAMP},
      END_TIME = #{record.endTime,jdbcType=TIMESTAMP},
      STATUS = #{record.status,jdbcType=BIGINT},
      IS_ENABLE = #{record.isEnable,jdbcType=BIGINT},
      CORP_ID = #{record.corpId,jdbcType=BIGINT},
      IS_DEFAULT = #{record.isDefault,jdbcType=BIGINT},
      TARGET = #{record.target,jdbcType=BIGINT},
      LINK = #{record.link,jdbcType=VARCHAR},
      HEIGHT = #{record.height,jdbcType=BIGINT},
      WIDTH = #{record.width,jdbcType=BIGINT},
      GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      GMT_MODIFY = #{record.gmtModify,jdbcType=TIMESTAMP},
      PRIORITY = #{record.priority,jdbcType=BIGINT},
      TITLE = #{record.title,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cms2_adv
    set ID = #{record.id,jdbcType=BIGINT},
      SPACE_ID = #{record.spaceId,jdbcType=BIGINT},
      SITE_ID = #{record.siteId,jdbcType=BIGINT},
      NAME = #{record.name,jdbcType=VARCHAR},
      TYPE = #{record.type,jdbcType=BIGINT},
      DISPLAY_COUNT = #{record.displayCount,jdbcType=BIGINT},
      CLICK_COUNT = #{record.clickCount,jdbcType=BIGINT},
      START_TIME = #{record.startTime,jdbcType=TIMESTAMP},
      END_TIME = #{record.endTime,jdbcType=TIMESTAMP},
      STATUS = #{record.status,jdbcType=BIGINT},
      IS_ENABLE = #{record.isEnable,jdbcType=BIGINT},
      CORP_ID = #{record.corpId,jdbcType=BIGINT},
      IS_DEFAULT = #{record.isDefault,jdbcType=BIGINT},
      TARGET = #{record.target,jdbcType=BIGINT},
      LINK = #{record.link,jdbcType=VARCHAR},
      HEIGHT = #{record.height,jdbcType=BIGINT},
      WIDTH = #{record.width,jdbcType=BIGINT},
      GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      GMT_MODIFY = #{record.gmtModify,jdbcType=TIMESTAMP},
      PRIORITY = #{record.priority,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <select id="selectBannerByType" resultMap="BannerResultMap" parameterType="String" >
   SELECT
	attach.ATTACH_PATH AS bannerUrl,
	attach.ATTACH_NAME AS bannerName,
	adv.LINK AS link,
	adv.PRIORITY AS priority,
	space.CODE AS bannerType
    FROM
        cms2_adv adv
    INNER JOIN cms2_adv_space space ON space.id = adv.SPACE_ID
    INNER JOIN cms2_attach attach ON attach.OBJ_ID = adv.id
    WHERE
        adv.IS_ENABLE = 1
    AND space.CODE = #{bannerType}
    ORDER BY
	adv.PRIORITY
  </select>
</mapper>