<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.space.mybatis.dao.Cms2ContCountMapper" >
  <resultMap id="BaseResultMap" type="com.space.mybatis.model.Cms2ContCount" >
    <result column="ID" property="id" jdbcType="BIGINT" />
    <result column="CONT_ID" property="contId" jdbcType="BIGINT" />
    <result column="VIEWS" property="views" jdbcType="BIGINT" />
    <result column="VIEWS_MONTH" property="viewsMonth" jdbcType="BIGINT" />
    <result column="VIEWS_WEEK" property="viewsWeek" jdbcType="BIGINT" />
    <result column="VIEWS_DAY" property="viewsDay" jdbcType="BIGINT" />
    <result column="COMMENTS" property="comments" jdbcType="BIGINT" />
    <result column="COMMENTS_MONTH" property="commentsMonth" jdbcType="BIGINT" />
    <result column="COMMENTS_WEEK" property="commentsWeek" jdbcType="BIGINT" />
    <result column="COMMENTS_DAY" property="commentsDay" jdbcType="BIGINT" />
    <result column="DOWNLOADS" property="downloads" jdbcType="BIGINT" />
    <result column="DOWNLOADS_MONTH" property="downloadsMonth" jdbcType="BIGINT" />
    <result column="DOWNLOADS_WEEK" property="downloadsWeek" jdbcType="BIGINT" />
    <result column="DOWNLOADS_DAY" property="downloadsDay" jdbcType="BIGINT" />
    <result column="UPS" property="ups" jdbcType="BIGINT" />
    <result column="UPS_MONTH" property="upsMonth" jdbcType="BIGINT" />
    <result column="UPS_WEEK" property="upsWeek" jdbcType="BIGINT" />
    <result column="UPS_DAY" property="upsDay" jdbcType="BIGINT" />
    <result column="DOWNS" property="downs" jdbcType="BIGINT" />
    <result column="GMT_CREATE" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="GMT_MODIFY" property="gmtModify" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, CONT_ID, VIEWS, VIEWS_MONTH, VIEWS_WEEK, VIEWS_DAY, COMMENTS, COMMENTS_MONTH, 
    COMMENTS_WEEK, COMMENTS_DAY, DOWNLOADS, DOWNLOADS_MONTH, DOWNLOADS_WEEK, DOWNLOADS_DAY, 
    UPS, UPS_MONTH, UPS_WEEK, UPS_DAY, DOWNS, GMT_CREATE, GMT_MODIFY
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.space.mybatis.model.Cms2ContCountExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cms2_cont_count
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.space.mybatis.model.Cms2ContCountExample" >
    delete from cms2_cont_count
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.space.mybatis.model.Cms2ContCount" >
    insert into cms2_cont_count (ID, CONT_ID, VIEWS, 
      VIEWS_MONTH, VIEWS_WEEK, VIEWS_DAY, 
      COMMENTS, COMMENTS_MONTH, COMMENTS_WEEK, 
      COMMENTS_DAY, DOWNLOADS, DOWNLOADS_MONTH, 
      DOWNLOADS_WEEK, DOWNLOADS_DAY, UPS, 
      UPS_MONTH, UPS_WEEK, UPS_DAY, 
      DOWNS, GMT_CREATE, GMT_MODIFY
      )
    values (#{id,jdbcType=BIGINT}, #{contId,jdbcType=BIGINT}, #{views,jdbcType=BIGINT}, 
      #{viewsMonth,jdbcType=BIGINT}, #{viewsWeek,jdbcType=BIGINT}, #{viewsDay,jdbcType=BIGINT}, 
      #{comments,jdbcType=BIGINT}, #{commentsMonth,jdbcType=BIGINT}, #{commentsWeek,jdbcType=BIGINT}, 
      #{commentsDay,jdbcType=BIGINT}, #{downloads,jdbcType=BIGINT}, #{downloadsMonth,jdbcType=BIGINT}, 
      #{downloadsWeek,jdbcType=BIGINT}, #{downloadsDay,jdbcType=BIGINT}, #{ups,jdbcType=BIGINT}, 
      #{upsMonth,jdbcType=BIGINT}, #{upsWeek,jdbcType=BIGINT}, #{upsDay,jdbcType=BIGINT}, 
      #{downs,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.space.mybatis.model.Cms2ContCount" >
    insert into cms2_cont_count
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="contId != null" >
        CONT_ID,
      </if>
      <if test="views != null" >
        VIEWS,
      </if>
      <if test="viewsMonth != null" >
        VIEWS_MONTH,
      </if>
      <if test="viewsWeek != null" >
        VIEWS_WEEK,
      </if>
      <if test="viewsDay != null" >
        VIEWS_DAY,
      </if>
      <if test="comments != null" >
        COMMENTS,
      </if>
      <if test="commentsMonth != null" >
        COMMENTS_MONTH,
      </if>
      <if test="commentsWeek != null" >
        COMMENTS_WEEK,
      </if>
      <if test="commentsDay != null" >
        COMMENTS_DAY,
      </if>
      <if test="downloads != null" >
        DOWNLOADS,
      </if>
      <if test="downloadsMonth != null" >
        DOWNLOADS_MONTH,
      </if>
      <if test="downloadsWeek != null" >
        DOWNLOADS_WEEK,
      </if>
      <if test="downloadsDay != null" >
        DOWNLOADS_DAY,
      </if>
      <if test="ups != null" >
        UPS,
      </if>
      <if test="upsMonth != null" >
        UPS_MONTH,
      </if>
      <if test="upsWeek != null" >
        UPS_WEEK,
      </if>
      <if test="upsDay != null" >
        UPS_DAY,
      </if>
      <if test="downs != null" >
        DOWNS,
      </if>
      <if test="gmtCreate != null" >
        GMT_CREATE,
      </if>
      <if test="gmtModify != null" >
        GMT_MODIFY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="contId != null" >
        #{contId,jdbcType=BIGINT},
      </if>
      <if test="views != null" >
        #{views,jdbcType=BIGINT},
      </if>
      <if test="viewsMonth != null" >
        #{viewsMonth,jdbcType=BIGINT},
      </if>
      <if test="viewsWeek != null" >
        #{viewsWeek,jdbcType=BIGINT},
      </if>
      <if test="viewsDay != null" >
        #{viewsDay,jdbcType=BIGINT},
      </if>
      <if test="comments != null" >
        #{comments,jdbcType=BIGINT},
      </if>
      <if test="commentsMonth != null" >
        #{commentsMonth,jdbcType=BIGINT},
      </if>
      <if test="commentsWeek != null" >
        #{commentsWeek,jdbcType=BIGINT},
      </if>
      <if test="commentsDay != null" >
        #{commentsDay,jdbcType=BIGINT},
      </if>
      <if test="downloads != null" >
        #{downloads,jdbcType=BIGINT},
      </if>
      <if test="downloadsMonth != null" >
        #{downloadsMonth,jdbcType=BIGINT},
      </if>
      <if test="downloadsWeek != null" >
        #{downloadsWeek,jdbcType=BIGINT},
      </if>
      <if test="downloadsDay != null" >
        #{downloadsDay,jdbcType=BIGINT},
      </if>
      <if test="ups != null" >
        #{ups,jdbcType=BIGINT},
      </if>
      <if test="upsMonth != null" >
        #{upsMonth,jdbcType=BIGINT},
      </if>
      <if test="upsWeek != null" >
        #{upsWeek,jdbcType=BIGINT},
      </if>
      <if test="upsDay != null" >
        #{upsDay,jdbcType=BIGINT},
      </if>
      <if test="downs != null" >
        #{downs,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.space.mybatis.model.Cms2ContCountExample" resultType="java.lang.Integer" >
    select count(*) from cms2_cont_count
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cms2_cont_count
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.contId != null" >
        CONT_ID = #{record.contId,jdbcType=BIGINT},
      </if>
      <if test="record.views != null" >
        VIEWS = #{record.views,jdbcType=BIGINT},
      </if>
      <if test="record.viewsMonth != null" >
        VIEWS_MONTH = #{record.viewsMonth,jdbcType=BIGINT},
      </if>
      <if test="record.viewsWeek != null" >
        VIEWS_WEEK = #{record.viewsWeek,jdbcType=BIGINT},
      </if>
      <if test="record.viewsDay != null" >
        VIEWS_DAY = #{record.viewsDay,jdbcType=BIGINT},
      </if>
      <if test="record.comments != null" >
        COMMENTS = #{record.comments,jdbcType=BIGINT},
      </if>
      <if test="record.commentsMonth != null" >
        COMMENTS_MONTH = #{record.commentsMonth,jdbcType=BIGINT},
      </if>
      <if test="record.commentsWeek != null" >
        COMMENTS_WEEK = #{record.commentsWeek,jdbcType=BIGINT},
      </if>
      <if test="record.commentsDay != null" >
        COMMENTS_DAY = #{record.commentsDay,jdbcType=BIGINT},
      </if>
      <if test="record.downloads != null" >
        DOWNLOADS = #{record.downloads,jdbcType=BIGINT},
      </if>
      <if test="record.downloadsMonth != null" >
        DOWNLOADS_MONTH = #{record.downloadsMonth,jdbcType=BIGINT},
      </if>
      <if test="record.downloadsWeek != null" >
        DOWNLOADS_WEEK = #{record.downloadsWeek,jdbcType=BIGINT},
      </if>
      <if test="record.downloadsDay != null" >
        DOWNLOADS_DAY = #{record.downloadsDay,jdbcType=BIGINT},
      </if>
      <if test="record.ups != null" >
        UPS = #{record.ups,jdbcType=BIGINT},
      </if>
      <if test="record.upsMonth != null" >
        UPS_MONTH = #{record.upsMonth,jdbcType=BIGINT},
      </if>
      <if test="record.upsWeek != null" >
        UPS_WEEK = #{record.upsWeek,jdbcType=BIGINT},
      </if>
      <if test="record.upsDay != null" >
        UPS_DAY = #{record.upsDay,jdbcType=BIGINT},
      </if>
      <if test="record.downs != null" >
        DOWNS = #{record.downs,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null" >
        GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModify != null" >
        GMT_MODIFY = #{record.gmtModify,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cms2_cont_count
    set ID = #{record.id,jdbcType=BIGINT},
      CONT_ID = #{record.contId,jdbcType=BIGINT},
      VIEWS = #{record.views,jdbcType=BIGINT},
      VIEWS_MONTH = #{record.viewsMonth,jdbcType=BIGINT},
      VIEWS_WEEK = #{record.viewsWeek,jdbcType=BIGINT},
      VIEWS_DAY = #{record.viewsDay,jdbcType=BIGINT},
      COMMENTS = #{record.comments,jdbcType=BIGINT},
      COMMENTS_MONTH = #{record.commentsMonth,jdbcType=BIGINT},
      COMMENTS_WEEK = #{record.commentsWeek,jdbcType=BIGINT},
      COMMENTS_DAY = #{record.commentsDay,jdbcType=BIGINT},
      DOWNLOADS = #{record.downloads,jdbcType=BIGINT},
      DOWNLOADS_MONTH = #{record.downloadsMonth,jdbcType=BIGINT},
      DOWNLOADS_WEEK = #{record.downloadsWeek,jdbcType=BIGINT},
      DOWNLOADS_DAY = #{record.downloadsDay,jdbcType=BIGINT},
      UPS = #{record.ups,jdbcType=BIGINT},
      UPS_MONTH = #{record.upsMonth,jdbcType=BIGINT},
      UPS_WEEK = #{record.upsWeek,jdbcType=BIGINT},
      UPS_DAY = #{record.upsDay,jdbcType=BIGINT},
      DOWNS = #{record.downs,jdbcType=BIGINT},
      GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      GMT_MODIFY = #{record.gmtModify,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>